<!DOCTYPE html>
<html>
  <head>
    <title>Blog </title>
  </head>
  <body>
    <h1>Blog Content: </h1>
    <ul>
    
      <li>
       <p class="title">Content</p>
       <p><%= blog.content %></p> 
       
      </li>

      <li>
       Time：<%= blog.time %></br>
      </li> 
      
      <li>
       Author：<%= blog.author %></br>
      </li> 

       <li>
        <a href="/users/updata?id=<%= blog.id%>&content=<%= blog.content%>">编辑</a>  
      </li> 

      <li>
        <a href="/users/delete?id=<%= blog.id%>">删除</a>  
      </li> 


      <% comments.forEach(c => { %>
      <li>
        Person:<%=c.username %>         Comment:<%= c.comment %>
      </li> 
    <% }) %>
    </ul>

      <form action="http://localhost:3000/api/comment?username=<%=username%>&id=<%= blog.id%>" method="POST">
      Comment: <input type="content" name="comment" >  <br>
        <input type="submit" value="updata">
       </form>
    </ul>
    
  </body>
</html>
